.nav-title-box {
    font-family: Courgette;
    font-size: 22px;
    text-decoration: none;

    // In the original nav classes, the height is given in "em". Since we want
    // to increase the font size without enlarging the whole nav bar, we need
    // to fix the size here.
    height: 56px;
    line-height: 56px;

    &:hover {
        text-decoration: underline dashed;
    }
}

.nav-account-box {
    position: relative;

    .nav-account-children {
        min-width: 100%;
        position: absolute;
        top: auto;
        right: 0;
        display: none;

        .c-nav__content {
            font-variant: small-caps;
            cursor: default;
        }

        li {
            list-style: none;
            width: 100%;
            padding: 0;

            a {
                padding: 0 1em;
                color: white;
                height: 100%;
                width: 100%;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

    &:hover>.nav-account-children {
        box-shadow: 0px 5px 10px black;
        display: block;
        z-index: 10;
    }

    .logout-button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-size: inherit;
        height: 100%;
        margin: 0;
        padding: 0 1em;
        text-align: left;
        width: 100%;
    }
}
